<div class="container">
    <div class="row">
        <div class="col">
            <ul style="list-style-type: none;">
              <li ng-repeat="item in fc.items">
                <a ui-sref="viewMap({id: item._id})">
                  <span>{{item.mapName}}</span>
                </a>
                <p>
                  {{item.description}}
                </p>
                <p class="pt-2">
                    <button type="button" name="button" class="btn btn-primary" ng-click="fc.rename(item)">Rename</button>
                    <button type="button" name="button" class="btn btn-danger" ng-click="fc.remove(item)">Remove</button>
                </p>


              </li>
              <p ng-if="!fc.items.length">
                No Favourites...
              </p>
            </ul>
        </div>
    </div>
</div>
