<div class="container">
    <br>
    <h3 id="top">Generator Testing</h3>

    <!-- buttons -->
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" ui-sref="genTest.home" ui-sref-active="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="genTest.status" ui-sref-active="active">Generator Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="genTest.chpStatus" ui-sref-active="active">CHP Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="genTest.err" ui-sref-active="active">Rota</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="genTest.err" ui-sref-active="active">Test reports</a>
      </li>
    </ul>
</div>

<br>

<ui-view></ui-view>

<br><br><br>
