<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Modify Account</h1>
</div>

<form name="modifyUser">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control-plaintext" ng-value="ACP.user.username" readonly>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" placeholder="Password" ng-model="formModel.password" required="required" ng-class="{
        'is-invalid': (formModel.password !== formModel.confirmPassword || formModel.password.length < 8),
        'is-valid': (formModel.password == formModel.confirmPassword && formModel.confirmPassword.length >= 8)
    }">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword2">Confirm Password</label>
    <input type="password" class="form-control" placeholder="Password" ng-model="formModel.confirmPassword" required="required" ng-class="{
        'is-invalid': ((formModel.password !== formModel.confirmPassword || formModel.password.length < 8) && !formModel.password.$pristine),
        'is-valid': (formModel.password == formModel.confirmPassword && formModel.confirmPassword.length >= 8)
    }">
    <div class="valid-feedback">
      Passwords match
    </div>
    <div class="invalid-feedback">
      Passwords must match and be longer than 8 characters
    </div>
  </div>

  <button type="submit" class="btn btn-success" ng-disabled="modifyUser.$invalid || !(formModel.password == formModel.confirmPassword) || !(formModel.password.length >= 8) " ng-click="ACP.go(formModel.password)">Change Password</button>
  <button type="button" class="btn btn-light" ui-sref="admin.users">Cancel</button>
</form>