<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Create Account</h1>
</div>

<form name="createUser">
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="John Doe" ng-model="formModel.username" required="required">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">First Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="John" ng-model="formModel.firstName" required="required">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Last Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Doe" ng-model="formModel.lastName" required="required">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="formModel.password" required="required">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Role</label>
    <select class="form-control" ng-model="formModel.role" required="required">
      <option value="1">Viewer</option>
      <option value="2">Editor</option>
      <option value="3">Administrator</option>
    </select>
  </div>

  <button type="submit" class="btn btn-success" ng-disabled="createUser.$invalid" ng-click="AC.go(formModel)">Create</button>
  <button type="button" class="btn btn-light" ui-sref="admin.users">Cancel</button>
</form>