<div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title">You are about to rename {{rmc.map.mapName}}?</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <p>This will only be visible to you</p>

        <input type="text" class="form-control" ng-model="rmc.map.mapName">
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="rmc.ok()">Rename</button>
      <button class="btn btn-danger" type="button" ng-click="rmc.cancel()">Cancel</button>
    </div>
</div>
