<div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Reset all settings to default?</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <p>You are about to reset all settings to the default.</p>
        <p>You will have to setup this application again. <br>
            <u>All sessions will be closed, tokens will be deleted</u>.</p>
        <p><b>There is no undo button</b></p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" type="button" ng-click="rmc.ok()">Reset</button>
      <button class="btn btn-default" type="button" ng-click="rmc.cancel()">Cancel</button>
    </div>
</div>
