<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Delete access token?</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <p>You will have to setup this part of the application again. <br>
      <u>Your token will be deleted</u>.</p>
    <p><b>There is no undo button</b></p>

    <p>Please confirm with your password</p>
    <input type="text" name="user-password" ng-model="password" ng-class="{'is-valid': tmc.success, 'is-invalid': !tmc.valid}" class="form-control" placeholder="Password..." autofocus ng-disabled="tmc.disabled">
    <div class="valid-feedback">
      Removing token...
    </div>
    <div class="invalid-feedback">
      Invalid Password
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="tmc.ok(password)">Reset</button>
    <button class="btn btn-default" type="button" ng-click="tmc.cancel()">Cancel</button>
  </div>
</div>
